.women-container {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    gap: 5rem;
}

.page-title {
    font-size: 42px;
}

.women-products-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3rem;
}