@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap');

:root {
  --theme-color: #5ECE7B;
  --greyed-out-text: #8D8F9A;
  --greyed-out-bg: rgba(255, 255, 255, 0.625);
  --white-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(214deg) brightness(102%) contrast(105%);
}

*, body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
}